<%= form_for(@border) do |f| %>
  <% if @border.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@border.errors.count, "error") %> prohibited this border from being saved:</h2>

      <ul>
      <% @border.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :country1 %><br>
    <%= f.number_field :country1 %>
  </div>
  <div class="field">
    <%= f.label :country2 %><br>
    <%= f.number_field :country2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
