<p id="notice"><%= notice %></p>

<%= link_to 'Countries', countries_path %>

<h1>Listing Borders</h1>

<table>
  <thead>
    <tr>
      <th>Country1</th>
      <th>Name</th>
      <th>Country2</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @borders.each do |border| %>
      <tr>
        <td><%= border.country1 %></td>
        <td><%= @countries[border.country1-1].name%></td>
        <td><%= border.country2 %></td>
        <td><%= @countries[border.country2-1].name%></td>
        <td><%= link_to 'Show', border %></td>
        <td><%= link_to 'Edit', edit_border_path(border) %></td>
        <td><%= link_to 'Destroy', border, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Border', new_border_path %>
