<p id="notice"><%= notice %></p>

<p>
  <strong>Country1:</strong>
  <%= @border.country1 %><br>
  <%= @countries[@border.country1-1].name%>
</p>

<p>
  <strong>Country2:</strong>
  <%= @border.country2 %><br>
  <%= @countries[@border.country2-1].name%>
</p>

<%= link_to 'Edit', edit_border_path(@border) %> |
<%= link_to 'Back', borders_path %>
