<p id="notice"><%= notice %></p>

<%= link_to 'Borders', borders_path %>

<h1>Listing Countries</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Extension</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.id %></td>
        <td><%= country.name %></td>
        <td><%= country.extension %></td>
        <td><%= link_to 'Show', country %></td>
        <td><%= link_to 'Edit', edit_country_path(country) %></td>
        <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "Show borders", country_listBorderCountry_path(country) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<form accept-charset="UTF-8" action="<%= country_translimite_path(2) %>" method="get">
  Country1:<br>
  <input name="country1" type="number"/><br>
  Country2:<br>
  <input name="country2" type="number"/><br><br>
  <input type="submit" value"Translimite"><br><br>
</form>

<%= link_to 'New Country', new_country_path %>
