<%= link_to "Countries", countries_path %>
<h1>List of borders</h1>
<strong>The bordering countries of <%= @country['name'] %> are:</strong>
<br><br>
<% @responseBorders.each do |country| %>
	<%= country %><br>
<% end %>

