<%= link_to "Countries", countries_path %><br>
<strong>Countries between <%= @country1 %> and <%= @country2 %>:</strong><br>
<% @borderResponse.each do |country| %>
	<%= country.name %><br>
<% end %>


